:root {
  --playerColor1: #2471ff;
  --playerColor2: red;
  --playerColor3: green;
  --playerColor4: yellow;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}

.gameName {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--playerColor3);
  text-align: center;
  margin: 0;
}

.ludoBody {
  outline: rgb(0, 0, 0) 1px solid;
  height: 810px;
  width: 810px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  margin: auto;
}
.app-container-playground {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.LudoBox {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}
.gotiHome {
  height: 324px;
  width: 324px;
 display: flex;
  align-items: center;
  justify-content: center;
  z-index: 26;
}

.gotiHome.skyblue {
  background-color: var(--playerColor1);
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
.gotiHome.red {
  background-color: var(--playerColor2);
  position: absolute;
  right: 0%;
  bottom: 0%;
  border-top: 1px solid black;
  border-left: 1px solid black;
}
.gotiHome.green {
  background-color: var(--playerColor3);
  position: absolute;
  left: 0;
  bottom: 0;
  border-right: 1px solid black;
  border-top: 1px solid black;
}
.gotiHome.yellow {
  background-color: var(--playerColor4);
  position: absolute;
  left: 0;
  top: 0;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.common-class-innerhome {
  position: relative;
  background-color: white;
  height: 200px;
  width: 200px;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black 1px;
}
.align-goti-box {
  height: 150px;
  width: 150px;
  position: relative;
}
.align-goti-box .common-class-home.home1 {
  position: absolute;
  top: 0;
  left: 0;
}
.align-goti-box .common-class-home.home2 {
  position: absolute;
  top: 0;
  right: 0;
}
.align-goti-box .common-class-home.home3 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.align-goti-box .common-class-home.home4 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.common-class-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  width: 54px;
  border-radius: 50%;
  border: solid black 1px;
  position: absolute;
}

.innerHome-green {
  .home1,
  .home2,
  .home3,
  .home4 {
    background-color: #0d7e0d;
  }
}
.innerHome-skyblue {
  .home1,
  .home2,
  .home3,
  .home4 {
    background-color: #2471ff;
  }
}
.innerHome-red {
  .home1,
  .home2,
  .home3,
  .home4 {
    background-color: red;
  }
}
.innerHome-yellow {
  .home1,
  .home2,
  .home3,
  .home4 {
    background-color: yellow;
  }
}

.victroyBox {
  outline: 1px solid black;
  height: 162px;
  width: 162px;
  position: absolute;
  left: 324px;
  top: 324px;
  z-index: 8;
  margin: 0;
  display: block;
  z-index: 26;
  background-image: url(../svg/victoryBox.svg);
  object-fit: contain;
}

.miniVictoryBox{
  /* background-color: rgb(245, 105, 12); */
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}
.miniVictoryBox.horizontal{
  width: 100%;
  height: 40%;
  /* border: 1px solid black; */
  position:absolute;
}
.miniVictoryBox.vertical{
  width: 40%;
  height: 100%;
  position:absolute;
  /* border: 1px solid black; */
  /* background-color: rgb(245, 105, 12); */
}
.miniVictoryBox.vertical.first{
  left:0;
}
.miniVictoryBox.vertical.second{
  right: 0;
}
.miniVictoryBox.horizontal.first{
  top:0;
}

.miniVictoryBox.horizontal.second{
  bottom: 0;
}
.victroyBox-green {
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0%;
  border-bottom: 81px solid green;
  border-left: 81px solid transparent;
  border-right: 81px solid transparent;
  z-index: 26;
}
.victroyBox-skyblue {
  width: 0;
  height: 0;
  position: absolute;
  top: 0%;
  border-top: 81px solid #2471ff;
  border-left: 81px solid transparent;
  border-right: 81px solid transparent;
  z-index: 26;
}
.victroyBox-red {
  width: 0;
  height: 0;
  position: absolute;
  right: 0%;
  border-right: 81px solid red;
  border-top: 81px solid transparent;
  border-bottom: 81px solid transparent;
  z-index: 26;
}
.victroyBox-yellow {
  width: 0;
  height: 0;
  position: absolute;
  left: 0%;
  border-left: 81px solid yellow;
  border-top: 81px solid transparent;
  border-bottom: 81px solid transparent;
  z-index: 26;
}

.goti-path {
  position: absolute;
  outline: 1px solid black;
}
/* .goti-path.skyblue{
  border-bottom:1px solid black ;
}

.goti-path.red{
  border-left:1px solid black;
}
.goti-path.green{
  border-top:1px solid black;

}
.goti-path.yellow{
  border-right: 1px solid black;
} */

.goti-path-channel-1 {
  display: grid;
  /* background-color: rgb(0, 0, 0); */
  box-sizing: border-box;
  grid-template-columns: 54px 54px 54px ;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-gap: 1px; */
  height: 325px;

}
.goti-path-channel-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 54px 54px 54px;
  /* background-color: rgb(0, 0, 0); */
  z-index: 20;
  box-sizing: border-box;
  /* grid-gap:1px; */
  width: 325px;
}
.goti-path.skyblue{
  left: 324px;
  top: 0;
}
.goti-path.red{
  right: 0;
  top: 324px;
}
.goti-path.green{
  left: 324px;
  bottom: 0px;
}
.goti-path.yellow{
  left: 0;
  top: 324px;
}
.path-box{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  outline: 1px solid black;
}

/* disining cheeras */
.path-box.skyblue.path-box-number6,.path-box.skyblue.path-box-number5,.path-box.skyblue.path-box-number8,.path-box.skyblue.path-box-number11,.path-box.skyblue.path-box-number14,.path-box.skyblue.path-box-number17,.path-box.red.path-box-number4{
  background-color:var(--playerColor1);
}
.path-box.red.path-box-number7,.path-box.red.path-box-number8,.path-box.red.path-box-number9,.path-box.red.path-box-number10,.path-box.red.path-box-number11,.path-box.red.path-box-number17,.path-box.green.path-box-number12{
  background-color: var(--playerColor2);
}
.path-box.green.path-box-number2,.path-box.green.path-box-number5,.path-box.green.path-box-number8,.path-box.green.path-box-number11,.path-box.green.path-box-number14,.path-box.green.path-box-number13,.path-box.yellow.path-box-number15{
  background-color: var(--playerColor3);
}
.path-box.yellow.path-box-number8,.path-box.yellow.path-box-number9,.path-box.yellow.path-box-number10,.path-box.yellow.path-box-number11,.path-box.yellow.path-box-number12,.path-box.yellow.path-box-number2,.path-box.yellow.path-box-numberr15,.path-box.skyblue.path-box-number7{
  background-color: var(--playerColor4);
}

.cheera{
  background-image: url("../Img/cheera.png.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  z-index: 5;
  align-content: center;
}

